#navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    margin-top: 10px;

}

#navigation ul li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

#navigation ul li a {
    text-decoration: none;
    text-decoration: none;
    padding: .2em 1em;
    color: #fff;
    background-color: #036;
}

#navigation ul li a:hover
{
    color: #fff;
    background-color: #369;
}

#navigation {
    height: 40px;
    border-radius: 10px;
    border: 1px solid #ebb81f;
    margin: 5px;

    background: #bfd255; /* Old browsers */
    background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
}
